@import "tailwindcss";

/* * {
  font-family: Outfit;
} */

@theme {
  --font-Outfit: "Outfit", "sans-serif";
  --font-ovo: "Ovo", "serif";
  --lightHover: #fcf4ff;
  --darkHover: #2a004a;
  --darkTheme: #11001F;
}


.resume-button {
  position: relative;
  overflow: hidden;
}

.resume-button::before {
  content: '';
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  z-index: -1;
  height: 100%;
  background-color: rgb(0, 0, 0);
  transition: all 0.3s ease;
}

.resume-button:hover::before {
  right: 0;
  
}